@import "vars";

.nav {

  background: $color-three;
  display: flex;
  * {
    color: #414345;
    list-style: none;
  }
  *:hover {
    color: $color-five;
    font-size: 110%;
  }
}

.navlink {
  margin: 0;
}
