@import "navbar.scss";
@import "vars.scss";


html {
    body {
        margin: 0;
        padding: 0;
        background: linear-gradient(to right, #232526, #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
}

.search-field {
  * {
    color: $color-three;
  }
}

.card-content {
  height: 0;
}

.hide-modal {
  display: none;
}
.show-modal {
  display: inline-block;
}

.modal {
  width: 40%;
  height: 40%;
  position: fixed;
  z-index: 3;
  padding-top: 5rem;
  background-color: rgba(237, 247, 242, 242);
  opacity: .95;
  .btn {
    text-align: center;
    width: 100%;
    
  }
}
